@import "tailwindcss";

 body{
        background-image: url(https://framerusercontent.com/images/asanCTGT7yglcSpcyzjAmzwnJw.png?width=2000&height=767);
        background-repeat: no-repeat;
       background-size: contain;
      }